/* TranslateItem.module.css */

.translate-row td:hover .hover-buttons button {
  visibility: visible;
}

.translate-row td:hover .mb-2 > button {
  visibility: visible;
}

.hover-buttons button {
  visibility: hidden;
}

.mb-2 > button {
  visibility: hidden;
}

.thinking-pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
